.bg-1 {
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

}

.bg-2 {
	background-size: cover;
	background-attachment: fixed;
}

.bg-3 {
	background-size: cover;
	background-attachment: fixed;
	-webkit-filter: sepia(90%);
	-moz-filter: sepia(90%);
	-o-filter: sepia(90%);
	-ms-filter: sepia(90%);
	filter: sepia(90%)
}