/*=================================================================
  Latest Posts
==================================================================*/

.blog {
  background: #F6F6F6;
}

.post {
  background: $light;
  margin-bottom: 40px;
  padding-bottom: 20px;

  .post-media {
    &.post-thumb {
      img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    }

    &.post-media-audio {
      iframe {
        width: 100%;
      }
    }
  }

  .post-title {
    font-size: 3rem;
    font-family: $secondary-font;
    font-weight: 800;
    color: $dark-text-color;
    // margin: 25px 0 0;

    a {
      color: $dark-text-color;
      
      &:hover {
        // color: $primary-text-color;
      }
    }
  }

  .post-meta {
    font-size: 1.2rem;
    margin-top: 10px;

    ul {
      li {
        display: inline-block;
        color: $primary-text-color;
        margin-right: 20px;
        font-size: 12px;
        // letter-spacing: .5px;

        a {
          color: $primary-text-color;
        }
      }
    }
  }

  .post-content {
    margin-top: 20px;

    p {
      // line-height: 26px;
      color: $light-text-color;
    }

    img {
      max-width: 100%;
      display: block;
      height: auto;
    }

    ul {
      font-size: 15px;
      padding: 10px 20px;
      font-family: $primary-font;
      list-style: circle;
    }
    ol {
      font-size: 15px;
      padding: 10px 20px;
      font-family: $primary-font;
    }

    blockquote {
      margin-top: 20px;
      font-size: 18px;
      border-color: $primary-color;
      padding: 10px 20px;
      text-align: left;
      color: #777;
    }

    .btn-main {
      padding: 10px 20px;
      margin: 15px 0;
      font-size: 12px;
    }
  }
}

.post-pagination {
  margin-top: 70px;

  >li {
    margin: 0 2px;
    display: inline-block;
    font-size: 14px;

    >a {
      color: $black;
      @include transition (all, 0.3s, ease);

      &:hover {
        color: $light;
        background: $primary-color;
        border: 1px solid $primary-color;
      }
    }

    &.active>a {
      background: $primary-color !important;
      border: 1px solid $primary-color !important;
    }
  }

  >li:first-child>a,
  >li:last-child>a {
    border-radius: 0;
  }
}
