$light: #fff;
$primary-color: #655E7A;
$secondary-color:#353240;
$success: #1bbb1b;
$black: #000;
$alert:#c7254e;
$border-color:#dedede;
$primary-font:'Roboto', sans-serif;
$secondary-font:'Open Sans', sans-serif;
$icon-font: 'themefisher-font';

$primary-text-color: #222222;
$dark-text-color: #111111;
$light-text-color: #555555;
