.author-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: space-around;
}

.author {
	margin: 20px;
	flex-basis: 20%;
};

.avatar {
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius:50%;
}

.sepia {
	-webkit-filter: sepia(0);
	filter: sepia(0);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
};

.sepia:hover {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
	border-radius: 30%;
}

.navbar-brand > img {
	height: inherit;
	@include mobile {
		width: 200px;
		height: auto;
	}
}
