.author {
    margin-bottom: 30px;
};

.avatar-sepia {
	-webkit-filter: sepia(0);
	filter: sepia(0);
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
};

.avatar-sepia:hover {
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
}

.avatar-caption+figcaption {
	opacity: 0;
	-webkit-transition: .2s ease-in-out;
	transition: .2s ease-in-out;
}

.avatar-caption:hover+figcaption {
	opacity: 1;
}

.navbar-brand > img {
	height: inherit;
	@include mobile {
		width: 200px;
		height: auto;
	}
}
