{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<div class="post post-single">
						<h2 class="post-title">{{ .Title }}</h2>
						<div class="post-meta">
							<ul>
								<li><i class="ion-calendar"></i> {{ .PublishDate.Format $.Site.Params.date_format }}</li>
								<li><i class="ion-android-person"></i>
									{{ i18n "posted_by" }}
									{{ $author_id := .Params.Author }}
									<a class="text-primary" href="{{ `author/` | relLangURL }}{{ $author_id | urlize }}">
										{{ range $author_page := (where .Site.RegularPages "Type" "author") }}
										{{ if eq $author_page.Params.Id $author_id }}{{ $author_page.Params.Title }}{{ end }}
										{{ end }}
									</a>
								</li>
								<li><i class="ion-android-folder"></i> 
									{{ range $index, $elements:= .Params.Categories }}
									{{ if ne $index 0 }}, {{ end }}<a href="{{ `categories/` | relLangURL }}{{ . | lower }}">{{ . | humanize }}</a>
									{{ end }}
								</li>
								<li><i class="ion-pricetags"></i> 
									{{ range $index, $elements:= .Params.Tags }}
									{{ if ne $index 0 }}, {{ end }}<a href="{{ `tags/` | relLangURL }}{{ . | lower }}">{{ . | humanize | lower }}</a>
									{{ end }}
								</li>
							</ul>
						</div>
					<div class="post-thumb">
						{{if .Params.image }}
						{{ $image := .Params.image }}
						{{ $src := resources.Get $image }}
						{{ $medium := $src.Resize "800x q85 Box" }}
						<img class="img-responsive" src="{{ $medium.RelPermalink }}" alt="{{ .Title }}">
						{{ end }}
					</div>

					<div class="post-content post-excerpt">
						{{ .Content }}
					</div>
					<div class="post-comments">
						{{ template "_internal/disqus.html" . }}
					</div>
				</div>
			</div>
      <div class="col-md-4">
        {{ partial "blog-sidebar.html" . }}
      </div>
		</div>
	</div>
</section>

{{ end }}
