{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section" style="background: #f5f5f5;">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="text-center">
					<figure>
						{{ if .Params.Photo }}
						<img style="border-radius: 50%;" class="img-fluid" src="{{.Params.Photo}}">
						{{ else }}
						<img style="border-radius: 50%;" class="img-fluid"
							src="https://i.ibb.co/nDJbSmM/f-Jdt9-XOj7-Us.jpg">
						{{ end }}
						<h4>{{ .Params.Title }}</h4>
					</figure>
					<hr>
					{{ .Content }}
					<hr>
					<ul class="list-inline">
						{{ range .Params.Social }}
						<li class="list-inline-item"><a class="share-icon bg-secondary" href="{{ .link | safeURL}}"><i
									class="{{ .icon }}"></i></a></li>
						{{ end }}
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title text-center">
					<h2>Публикации автора</h2>
				</div>
			</div>
			{{ $authored_pages := newScratch }}
			{{ $author_id := .Params.Id }}
			{{ $author_name := .Params.Title }}
			{{ .Scratch.Set "authored_pages" (where .Site.RegularPages "Params.author" $author_id) }}
			{{ range (.Scratch.Get "authored_pages") }}
			<div class="col-md-6">
				<div class="post">
					<div class="post-thumb">
						<a href="{{ .Permalink }}">
							{{if .Params.image }}
							{{ $image := .Params.image }}
							{{ $src := resources.Get $image }}
							{{ $medium := $src.Resize "800x q85 Box" }}
							<img class="img-responsive" src="{{ $medium.RelPermalink }}" alt="{{ .Title }}">
							{{ end }}
						</a>
					</div>
					<h3 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
					<div class="post-meta">
						<ul>
							<li><i class="ion-calendar"></i> {{ .PublishDate.Format $.Site.Params.date_format }}</li>
							<li><i class="ion-android-people"></i>
								{{ i18n "posted_by" }}
								<a class="text-primary" href="{{ `author/` | relLangURL }}{{ $author_id | urlize }}">
									{{ $author_name }}
								</a>
							</li>
							<li><i class="ion-pricetags"></i>
								{{ range $index, $elements:= .Params.Tags }}
								{{ if ne $index 0 }}, {{ end }}<a
									href="{{ `tags/` | relLangURL }}{{ . | lower }}">{{ . | humanize }}</a>
								{{ end }}
							</li>
						</ul>
					</div>
					<div class="post-content">
						<p>{{ .Summary }}</p>
						<a href="{{ .Permalink }}" class="btn btn-main">{{ i18n "read_more" }}</a>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>

{{ end }}
